name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test and Coverage
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v4
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.16.2' # Define the elixir version [required]
          otp-version: '26.2.3'    # Define the OTP version [required]
      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Run formatting
        run: mix format --check-formatted
      - name: Run warnings as errors check
        run: mix compile --warnings-as-errors
      - name: Run tests with coverage
        run: mix coveralls
